footer 
  .footer 
    p.footer__intro Paal Supporters & <i>Partners</i>
    figure.footer__supporters 
      img(src="images/surporter-01.png" alt="" light)
      img(src="images/surporter-01Dark.png" alt="" dark)
      img(src="images/surporter-02.png" alt="" light)
      img(src="images/surporter-02Dark.png" alt="" dark)
      img(src="images/surporter-03.png" alt="")
      img(src="images/surporter-04.png" alt="" light)
      img(src="images/surporter-04Dark.png" alt="" dark)
      img(src="images/surporter-05.png" alt="" light)
      img(src="images/surporter-05Dark.png" alt="" dark)
    .footer__ad 
      img(src="images/footerBg.png" alt="" desktop)
      img(src="images/footerBgM.png" alt="" mobile)
      img(src="images/logo02.png" alt="")
      h2 Sign up for <i>Paal AI Mobile</i> App Waitlist
      a(href="#home")  Join Waitlist - <i>for free</i>
    .footer__footer 
      a.footer__logo(href="#home") 
        img(src="images/logo.png" alt="")
        h1 PAAL AI
      .footer__links 
        .footer__socials 
          a(href="http://" target="_blank" rel="noopener noreferrer") 
            img(src="images/social-01.png" alt="")
          a(href="http://" target="_blank" rel="noopener noreferrer") 
            img(src="images/social-02.png" alt="")
          a(href="http://" target="_blank" rel="noopener noreferrer") 
            img(src="images/social-03.png" alt="" invert)
          a(href="http://" target="_blank" rel="noopener noreferrer") 
            img(src="images/social-04.png" alt="" invert)
          a(href="http://" target="_blank" rel="noopener noreferrer") 
            img(src="images/social-05.png" alt="" invert)
          a(href="http://" target="_blank" rel="noopener noreferrer") 
            img(src="images/social-06.png" alt="" invert)
        p You can email <a href="mailto:admin@paalai.io">admin@paalai.io</a> to provide feedback for support requests.
    figure.footer__end 
      img(src="images/footerEnd.png" alt="")
      p © Paal AI 2024