header 
  .header__intro Meet Paal AI: Pioneers of the AI Revolution
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
      <path d="M13.0306 11.9694C13.1715 12.1103 13.2506 12.3014 13.2506 12.5006C13.2506 12.6999 13.1715 12.891 13.0306 13.0319C12.8897 13.1728 12.6986 13.2519 12.4993 13.2519C12.3001 13.2519 12.109 13.1728 11.9681 13.0319L7.99997 9.06249L4.0306 13.0306C3.8897 13.1715 3.69861 13.2507 3.49935 13.2507C3.30009 13.2507 3.10899 13.1715 2.9681 13.0306C2.8272 12.8897 2.74805 12.6986 2.74805 12.4994C2.74805 12.3001 2.8272 12.109 2.9681 11.9681L6.93747 7.99999L2.96935 4.03061C2.82845 3.88972 2.7493 3.69862 2.7493 3.49936C2.7493 3.30011 2.82845 3.10901 2.96935 2.96811C3.11024 2.82722 3.30134 2.74806 3.5006 2.74806C3.69986 2.74806 3.89095 2.82722 4.03185 2.96811L7.99997 6.93749L11.9693 2.96749C12.1102 2.82659 12.3013 2.74744 12.5006 2.74744C12.6999 2.74744 12.891 2.82659 13.0318 2.96749C13.1727 3.10838 13.2519 3.29948 13.2519 3.49874C13.2519 3.69799 13.1727 3.88909 13.0318 4.02999L9.06247 7.99999L13.0306 11.9694Z" fill="black"/>
    </svg>
  .header__menu 
    a.header__menu__logo(href="#home") 
      img(src="images/logo.png" alt="")
      h1 PAAL AI
    ul.header__menu__links(desktop)
      a.header__menu__link(href="#products") 
        li Products
      a.header__menu__link(href="#services") 
        li Services
      a.header__menu__link(href="#home") 
        li Token
      a.header__menu__link(href="#home") 
        li Integration
      a.header__menu__link(href="#home") 
        li Partners
      a.header__menu__link(href="#home") 
        li Research
      a.header__menu__link(href="#home") 
        li Safety
    a.header__menu__wallet(href="https://etherscan.io/token/0x14feE680690900BA0ccCfC76AD70Fd1b95D10e16" target="_blank" rel="noopener noreferrer" desktop) 0x14feE...e16
    a.header__menu__stake(href="https://rewards.paalai.io/" target="_blank" rel="noopener noreferrer" desktop) Launch dApp
    button.header__menu__toggle
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none">
        <g clip-path="url(#clip0_123_740)">
          <path d="M12 1.5V3.5M12 21.5V23.5M4.22 4.72L5.64 6.14M18.36 18.86L19.78 20.28M1 12.5H3M21 12.5H23M4.22 20.28L5.64 18.86M18.36 6.14L19.78 4.72M17 12.5C17 15.2614 14.7614 17.5 12 17.5C9.23858 17.5 7 15.2614 7 12.5C7 9.73858 9.23858 7.5 12 7.5C14.7614 7.5 17 9.73858 17 12.5Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_123_740">
            <rect width="24" height="24" fill="white" transform="translate(0 0.5)"/>
          </clipPath>
        </defs>
      </svg>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M22.4995 9C22.4995 9.19891 22.4204 9.38968 22.2798 9.53033C22.1391 9.67098 21.9484 9.75 21.7495 9.75H20.2495V11.25C20.2495 11.4489 20.1704 11.6397 20.0298 11.7803C19.8891 11.921 19.6984 12 19.4995 12C19.3005 12 19.1098 11.921 18.9691 11.7803C18.8285 11.6397 18.7495 11.4489 18.7495 11.25V9.75H17.2495C17.0505 9.75 16.8598 9.67098 16.7191 9.53033C16.5785 9.38968 16.4995 9.19891 16.4995 9C16.4995 8.80109 16.5785 8.61032 16.7191 8.46967C16.8598 8.32902 17.0505 8.25 17.2495 8.25H18.7495V6.75C18.7495 6.55109 18.8285 6.36032 18.9691 6.21967C19.1098 6.07902 19.3005 6 19.4995 6C19.6984 6 19.8891 6.07902 20.0298 6.21967C20.1704 6.36032 20.2495 6.55109 20.2495 6.75V8.25H21.7495C21.9484 8.25 22.1391 8.32902 22.2798 8.46967C22.4204 8.61032 22.4995 8.80109 22.4995 9ZM13.4995 5.25H14.2495V6C14.2495 6.19891 14.3285 6.38968 14.4691 6.53033C14.6098 6.67098 14.8005 6.75 14.9995 6.75C15.1984 6.75 15.3891 6.67098 15.5298 6.53033C15.6704 6.38968 15.7495 6.19891 15.7495 6V5.25H16.4995C16.6984 5.25 16.8891 5.17098 17.0298 5.03033C17.1704 4.88968 17.2495 4.69891 17.2495 4.5C17.2495 4.30109 17.1704 4.11032 17.0298 3.96967C16.8891 3.82902 16.6984 3.75 16.4995 3.75H15.7495V3C15.7495 2.80109 15.6704 2.61032 15.5298 2.46967C15.3891 2.32902 15.1984 2.25 14.9995 2.25C14.8005 2.25 14.6098 2.32902 14.4691 2.46967C14.3285 2.61032 14.2495 2.80109 14.2495 3V3.75H13.4995C13.3005 3.75 13.1098 3.82902 12.9691 3.96967C12.8285 4.11032 12.7495 4.30109 12.7495 4.5C12.7495 4.69891 12.8285 4.88968 12.9691 5.03033C13.1098 5.17098 13.3005 5.25 13.4995 5.25ZM20.3216 14.3438C20.409 14.4454 20.4674 14.5686 20.491 14.7005C20.5146 14.8324 20.5024 14.9682 20.4557 15.0938C19.9353 16.513 19.0658 17.7784 17.9274 18.773C16.7889 19.7676 15.4184 20.4594 13.9421 20.7846C12.4658 21.1098 10.9313 21.058 9.48039 20.6338C8.02944 20.2096 6.70871 19.4267 5.64009 18.3575C4.57147 17.2883 3.78939 15.9671 3.36602 14.5159C2.94266 13.0647 2.89165 11.5303 3.2177 10.0542C3.54375 8.57806 4.23637 7.20786 5.23162 6.07002C6.22687 4.93218 7.4927 4.06337 8.91227 3.54375C9.03722 3.49799 9.17209 3.4863 9.30305 3.50987C9.43401 3.53344 9.55634 3.59142 9.65749 3.67788C9.75864 3.76434 9.83497 3.87614 9.87865 4.00184C9.92232 4.12753 9.93177 4.26258 9.90602 4.39313C9.6432 5.72341 9.71206 7.09795 10.1065 8.3953C10.501 9.69266 11.2089 10.8729 12.1677 11.8317C13.1266 12.7906 14.3068 13.4985 15.6042 13.8929C16.9015 14.2874 18.2761 14.3563 19.6063 14.0934C19.7371 14.0679 19.8722 14.0776 19.9979 14.1216C20.1236 14.1656 20.2354 14.2423 20.3216 14.3438ZM18.5038 15.7388C18.336 15.7472 18.1673 15.7519 17.9995 15.7519C15.4141 15.7491 12.9355 14.7208 11.1075 12.8925C9.27958 11.0642 8.25169 8.58535 8.24946 6C8.24946 5.83219 8.24946 5.66344 8.26259 5.49563C7.2647 6.06985 6.4124 6.86611 5.77174 7.82271C5.13108 8.7793 4.71924 9.87055 4.56815 11.0119C4.41706 12.1533 4.53076 13.3141 4.90044 14.4044C5.27013 15.4948 5.88588 16.4854 6.69998 17.2995C7.51408 18.1136 8.50468 18.7293 9.59503 19.099C10.6854 19.4687 11.8462 19.5824 12.9876 19.4313C14.1289 19.2802 15.2202 18.8684 16.1768 18.2277C17.1333 17.5871 17.9296 16.7348 18.5038 15.7369V15.7388Z" fill="white"/>
      </svg>
    button.header__menu__open(mobile)
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75H3.75C3.55109 12.75 3.36032 12.671 3.21967 12.5303C3.07902 12.3897 3 12.1989 3 12C3 11.8011 3.07902 11.6103 3.21967 11.4697C3.36032 11.329 3.55109 11.25 3.75 11.25H20.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12ZM3.75 6.75H20.25C20.4489 6.75 20.6397 6.67098 20.7803 6.53033C20.921 6.38968 21 6.19891 21 6C21 5.80109 20.921 5.61032 20.7803 5.46967C20.6397 5.32902 20.4489 5.25 20.25 5.25H3.75C3.55109 5.25 3.36032 5.32902 3.21967 5.46967C3.07902 5.61032 3 5.80109 3 6C3 6.19891 3.07902 6.38968 3.21967 6.53033C3.36032 6.67098 3.55109 6.75 3.75 6.75ZM20.25 17.25H3.75C3.55109 17.25 3.36032 17.329 3.21967 17.4697C3.07902 17.6103 3 17.8011 3 18C3 18.1989 3.07902 18.3897 3.21967 18.5303C3.36032 18.671 3.55109 18.75 3.75 18.75H20.25C20.4489 18.75 20.6397 18.671 20.7803 18.5303C20.921 18.3897 21 18.1989 21 18C21 17.8011 20.921 17.6103 20.7803 17.4697C20.6397 17.329 20.4489 17.25 20.25 17.25Z" fill="var(--text)"/>
      </svg>
  .menu(mobile)
    button
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M19.5459 17.954C19.7572 18.1653 19.876 18.452 19.876 18.7509C19.876 19.0497 19.7572 19.3364 19.5459 19.5477C19.3346 19.7591 19.0479 19.8778 18.749 19.8778C18.4501 19.8778 18.1635 19.7591 17.9521 19.5477L12 13.5937L6.0459 19.5459C5.83455 19.7572 5.54791 19.8759 5.24902 19.8759C4.95014 19.8759 4.66349 19.7572 4.45215 19.5459C4.2408 19.3345 4.12207 19.0479 4.12207 18.749C4.12207 18.4501 4.2408 18.1635 4.45215 17.9521L10.4062 11.9999L4.45402 6.04586C4.24268 5.83451 4.12395 5.54787 4.12395 5.24898C4.12395 4.9501 4.24268 4.66345 4.45402 4.45211C4.66537 4.24076 4.95201 4.12203 5.2509 4.12203C5.54978 4.12203 5.83643 4.24076 6.04777 4.45211L12 10.4062L17.954 4.45117C18.1654 4.23983 18.452 4.12109 18.7509 4.12109C19.0498 4.12109 19.3364 4.23983 19.5478 4.45117C19.7591 4.66251 19.8778 4.94916 19.8778 5.24804C19.8778 5.54693 19.7591 5.83358 19.5478 6.04492L13.5937 11.9999L19.5459 17.954Z" fill="black"/>
      </svg>
    ul.header__menu__links
      a.header__menu__link(href="#products") 
        li Products
      a.header__menu__link(href="#services") 
        li Services
      a.header__menu__link(href="#home") 
        li Token
      a.header__menu__link(href="#home") 
        li Integration
      a.header__menu__link(href="#home") 
        li Partners
      a.header__menu__link(href="#home") 
        li Research
      a.header__menu__link(href="#home") 
        li Safety
      a.header__menu__wallet(href="https://etherscan.io/token/0x14feE680690900BA0ccCfC76AD70Fd1b95D10e16" target="_blank" rel="noopener noreferrer")
        p 0x14feE343545...e16
        i Etherscan
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M5.15651 3.28123L11.2503 3.28123C11.3746 3.28123 11.4938 3.33062 11.5817 3.41853C11.6696 3.50644 11.719 3.62566 11.719 3.74998L11.719 9.84373C11.719 9.96805 11.6696 10.0873 11.5817 10.1752C11.4938 10.2631 11.3746 10.3125 11.2503 10.3125C11.1259 10.3125 11.0067 10.2631 10.9188 10.1752C10.8309 10.0873 10.7815 9.96805 10.7815 9.84373L10.7815 4.88143L4.0819 11.5816C3.99394 11.6696 3.87465 11.719 3.75026 11.719C3.62587 11.719 3.50658 11.6696 3.41862 11.5816C3.33066 11.4937 3.28125 11.3744 3.28125 11.25C3.28125 11.1256 3.33066 11.0063 3.41862 10.9183L10.1188 4.21873L5.15651 4.21873C5.03219 4.21873 4.91296 4.16935 4.82505 4.08144C4.73715 3.99353 4.68776 3.8743 4.68776 3.74998C4.68776 3.62566 4.73715 3.50644 4.82505 3.41853C4.91296 3.33062 5.03219 3.28123 5.15651 3.28123Z" fill="black"/>
          </svg>
      a.header__menu__stake(href="https://app.paal.ai/" target="_blank" rel="noopener noreferrer") Launch dApp
      .header__menu__socials   
        a(href="https://www.bitmart.com/trade/en-US?symbol=PAAL_USDT" target="_blank" rel="noopener noreferrer") 
          img(src="images/social-01.png" alt="")
        a(href="https://www.geckoterminal.com/eth/pools/0x2a6c340bcbb0a79d3deecd3bc5cbc2605ea9259f" target="_blank" rel="noopener noreferrer") 
          img(src="images/social-02.png" alt="")
        a(href="https://www.dextools.io/app/en/ether/pair-explorer/0x2a6c340bcbb0a79d3deecd3bc5cbc2605ea9259f" target="_blank" rel="noopener noreferrer") 
          img(src="images/social-03.png" alt="" invert)
        a(href="https://twitter.com/PaalMind" target="_blank" rel="noopener noreferrer") 
          img(src="images/social-04.png" alt="" invert)
        a(href="https://t.me/paal_ai" target="_blank" rel="noopener noreferrer") 
          img(src="images/social-05.png" alt="" invert)
        a(href="https://discord.gg/paalai" target="_blank" rel="noopener noreferrer") 
          img(src="images/social-06.png" alt="" invert)
