.footer {
  padding-top: 17.6rem;
  @include media("<phone") {
    padding-top: 8.2rem;
  }
}

.footer__intro {
  color: var(--text);
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2235rem;
  line-height: 120%; /* 6.2682rem */
  @include media("<phone") {
    font-size: 2.4rem;
    width: 35.2rem;
    text-align: center;
    margin: 0 auto;
  }

  i {
    background: linear-gradient(268deg, #ffd7da 3.4%, #7f56d9 93.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.footer__supporters {
  display: flex;
  width: 130.1rem;
  margin: 8.6rem auto 0;
  justify-content: space-between;
  align-items: center;
  @include media("<phone") {
    flex-wrap: wrap;
    margin-top: 1.7rem;
    width: 35.2rem;
    gap: 2.1rem 4.253rem;
    justify-content: center;
  }

  img {
    object-fit: contain;
  }

  img:nth-of-type(1),
  img:nth-of-type(2) {
    width: 18.93rem;
    height: 2.8774rem;
    @include media("<phone") {
      width: 11.626rem;
      height: 1.7672rem;
    }
  }

  img:nth-of-type(3),
  img:nth-of-type(4) {
    width: 15.144rem;
    height: 4.0889rem;
    @include media("<phone") {
      width: 9.3008rem;
      height: 2.5112rem;
    }
  }

  img:nth-of-type(5) {
    width: 9.3893rem;
    height: 2.8774rem;
    @include media("<phone") {
      width: 5.7665rem;
      height: 1.7672rem;
    }
    .dark & {
      filter: invert(1);
    }
  }

  img:nth-of-type(6),
  img:nth-of-type(7) {
    width: 11.8202rem;
    height: 4.8383rem;
    @include media("<phone") {
      width: 7.2595rem;
      height: 2.9715rem;
    }
  }

  img:nth-of-type(8),
  img:nth-of-type(9) {
    width: 19.78rem;
    height: 3.6533rem;
    @include media("<phone") {
      width: 12.1481rem;
      height: 2.2437rem;
    }
  }
}

.footer__ad {
  width: 126rem;
  height: 42.9rem;
  border-radius: 1.5rem;
  background: radial-gradient(
    193.79% 193.79% at 50% 1.59%,
    #ffd7da 32%,
    #c59dd9 62.5%,
    #7f56d9 100%
  );
  margin: 19.16rem auto 0;
  position: relative;
  padding-top: 5.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media("<phone") {
    width: 35.3rem;
    height: 35.1rem;
    margin-top: 8.12rem;
    padding-top: 5.2rem;
  }

  img:nth-of-type(1),
  img:nth-of-type(2) {
    position: absolute;
    top: 0;
  }

  img:last-of-type {
    width: 5.6rem;
    height: 5.6rem;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  h2 {
    margin-top: 2.5rem;
    color: #895c73;
    text-align: center;
    font-family: "TT Hoves Pro Trial", sans-serif;
    font-size: 4.1rem;
    line-height: 5.5rem; /* 134.146% */
    width: 52.6rem;
    position: relative;
    z-index: 1;
    @include media("<phone") {
      font-size: 3rem;
      width: 29.1rem;
      line-height: 3.6rem; /* 120% */
      margin-top: 3.5rem;
    }

    i {
      color: #000;
      font-family: "TT Hoves Pro Trial", sans-serif;
      font-weight: 500;
    }
  }

  a {
    color: var(--White, #fff);
    font-family: "TT Hoves Pro Trial", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem; /* 142.857% */
    min-width: 19.9rem;
    height: 4rem;
    border-radius: 0.8rem;
    border: 0.1rem solid #9771ea;
    background: linear-gradient(
        180deg,
        rgba(81, 44, 161, 0.2) 0%,
        rgba(0, 0, 0, 0) 25%
      ),
      #7f56d9;
    box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    white-space: pre;
    position: relative;
    z-index: 1;
    @include media("<phone") {
      margin-top: 4rem;
    }

    i {
      font-weight: 400;
    }
  }
}

.footer__footer {
  margin: 12.7rem 12.1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include media("<phone") {
    margin: 10.5rem 0.45rem;
    flex-direction: column;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 7.2rem;
  @include media("<phone") {
    gap: 0.64rem;
    margin-right: auto;
    margin: 0.8rem auto 0;
  }

  img {
    width: 4.6rem;
    height: 4.7rem;
    @include media("<phone") {
      width: 3.7047rem;
      height: 3.7852rem;
    }
  }

  h1 {
    color: var(--text);
    font-family: Inter;
    font-size: 2.4641rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    @include media("<phone") {
      font-size: 1.9845rem;
    }
  }
}

.footer__links {
  display: grid;
  margin-left: auto;
  @include media("<phone") {
    margin-top: 6.9rem;
    margin-right: auto;
  }

  p {
    color: #b1b0b9;
    text-align: right;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.9rem; /* 181.25% */
    text-align: right;
    width: 35rem;
    margin-top: 2.2rem;
    margin-left: auto;
    @include media("<phone") {
      text-align: center;
      margin-top: 1.41rem;
    }
  }

  a {
    color: var(--text2);
    text-decoration-line: underline;
  }
}

.footer__socials {
  display: flex;
  gap: 3.2rem;
  @include media("<phone") {
    justify-content: center;
  }

  a {
    width: 3.2rem;
    height: 3.2rem;
    @include media("<phone") {
      width: 2.2615rem;
      height: 2.2615rem;
    }
  }

  img {
    .dark & {
      filter: contrast(1);
    }
  }

  [invert] {
    .dark & {
      filter: invert(1);
    }
  }
}

.footer__end {
  width: 151.4rem;
  height: 26.3rem;
  margin-top: -0.3rem;
  position: relative;
  @include media("<phone") {
    width: 39.3rem;
    height: 6.8269rem;
    margin-top: 10.22rem;
  }

  p {
    position: absolute;
    width: 127.2rem;
    padding-top: 3.5rem;
    top: 4rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 0.1rem solid #d6d6d6;
    color: #b3b3b3;
    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 150% */
    @include media("<phone") {
      padding-top: unset;
      border-top: unset;
      top: unset;
      bottom: 10.9269rem;
      width: unset;
      font-size: 1.2rem;
      text-align: center;
    }
  }

  img {
    position: relative;
    z-index: 1;
  }
}
