$breakpoints: (
  "phone": 760px,
  "tablet": 1024px,
  "desktop": 1920px,
) !default;

@import "../../node_modules/include-media/dist/include-media";

html {
  font-size: calc(100vw / 1512 * 10);
  background-color: var(--bg);
  @include media("<phone") {
    font-size: calc(100vw / 393 * 10);
    width: 100vw !important;
  }
  @include media(">=desktop") {
    font-size: calc(100vw / 2750 * 10);
  }

  --bg: #fff;
  --text: #000;
  --text2: #161518;
  --transText: #8e8e8e;
  --transText2: #777878;
  --transText3: #565560;
  --transText4: #82808f;

  &.dark {
    --bg: #100725;
    --text: #fff;
    --text2: #fff;
    --transText: #7d7fa8;
    --transText2: #606c85;
    --transText3: #dcdbe0;
    --transText4: #b1b0b9;
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

[desktop] {
  @include media("<phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[mobile] {
  @include media(">=phone") {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[dark] {
  html:not(.dark) & {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

[light] {
  .dark & {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

button {
  background: transparent;
  padding: unset;
}

// figure img {
//   transition: 0.5s ease-out;
//   transition-delay: 0.2s;
//   opacity: 0.7;
// }

// figure img.animating {
//   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
//   opacity: 1;
// }

// .fadeup {
//   opacity: 0;
//   transition: 0.03s ease-out;
//   transform: translateY(40px);
// }

// .fading-up {
//   opacity: 1;
//   transition: 0.5s ease-out;
//   transform: translateY(0px);
//   transition-delay: 0.5s;
// }

[data-slide] {
  opacity: 0;
}
