extends ../partials/base.pug 

block variables
  - var template = "home"

block content 
  main.__home
    section.home__hero 
      h2.home__hero__head Create and Integrate Advanced Crypto & AI Bots - <i>No Coding required</i>
      p.home__hero__sub An AI-powered platform tailored to be the voice to your web data -- <i>Powered by Paal AI</i>
      .home__hero__ctas
        a.home__hero__primary(href="") Get a Custom Paal AI Bot
        a.home__hero__secondary(href="") Buy $PAAL
      .home__hero__supporters 
        p(desktop) supported by
        p(mobile) Backed by the best
        div 
          img(src="images/surporter-01.png" alt="" light)
          img(src="images/surporter-01Dark.png" alt="" dark)
          img(src="images/surporter-02.png" alt="" light)
          img(src="images/surporter-02Dark.png" alt="" dark)
          img(src="images/surporter-03.png" alt="")
      figure.home__hero__bg 
        img(src="images/heroBgLight.png" alt="" desktop light)
        img(src="images/heroBgLightM.png" alt="" mobile light)
        img(src="images/heroBgDark.png" alt="" desktop dark)
        img(src="images/heroBgDarkM.png" alt="" mobile dark)
      .home__hero__chats 
        .home__hero__chat 
          img(src="images/avatar-01.png" alt="")
          div(left)
            p Hello Paal🤖, <br/>Make a bot to automatically provide crypto insights and analytics.
            img(src="images/microphone.png" alt="")
        .home__hero__chat 
          img(src="images/logo.png" alt="")
          div(right)
            p 
              <svg width="16" height="15" viewBox="0 0 16 15" fill="none">
                <path d="M8 1.40625C6.79477 1.40625 5.61661 1.76364 4.6145 2.43323C3.61238 3.10282 2.83133 4.05454 2.37011 5.16802C1.90889 6.28151 1.78821 7.50676 2.02334 8.68883C2.25847 9.8709 2.83884 10.9567 3.69107 11.8089C4.5433 12.6612 5.6291 13.2415 6.81117 13.4767C7.99324 13.7118 9.21849 13.5911 10.332 13.1299C11.4455 12.6687 12.3972 11.8876 13.0668 10.8855C13.7364 9.88339 14.0938 8.70523 14.0938 7.5C14.092 5.88436 13.4495 4.33538 12.307 3.19295C11.1646 2.05052 9.61564 1.40796 8 1.40625ZM10.6754 6.42539L7.39414 9.70664C7.35061 9.75022 7.29891 9.7848 7.24201 9.80839C7.1851 9.83198 7.1241 9.84412 7.0625 9.84412C7.0009 9.84412 6.9399 9.83198 6.883 9.80839C6.82609 9.7848 6.7744 9.75022 6.73086 9.70664L5.32461 8.30039C5.23666 8.21243 5.18724 8.09314 5.18724 7.96875C5.18724 7.84436 5.23666 7.72507 5.32461 7.63711C5.41257 7.54915 5.53186 7.49974 5.65625 7.49974C5.78064 7.49974 5.89994 7.54915 5.98789 7.63711L7.0625 8.71231L10.0121 5.76211C10.0557 5.71856 10.1074 5.68401 10.1643 5.66044C10.2212 5.63687 10.2822 5.62474 10.3438 5.62474C10.4053 5.62474 10.4663 5.63687 10.5232 5.66044C10.5801 5.68401 10.6318 5.71856 10.6754 5.76211C10.7189 5.80566 10.7535 5.85736 10.7771 5.91427C10.8006 5.97117 10.8128 6.03216 10.8128 6.09375C10.8128 6.15534 10.8006 6.21633 10.7771 6.27323C10.7535 6.33014 10.7189 6.38184 10.6754 6.42539Z" fill="#FFD7DA"/>
              </svg>
              | Creating Bot..
            p 
              <svg width="16" height="15" viewBox="0 0 16 15" fill="none">
                <path d="M8 1.40625C6.79477 1.40625 5.61661 1.76364 4.6145 2.43323C3.61238 3.10282 2.83133 4.05454 2.37011 5.16802C1.90889 6.28151 1.78821 7.50676 2.02334 8.68883C2.25847 9.8709 2.83884 10.9567 3.69107 11.8089C4.5433 12.6612 5.6291 13.2415 6.81117 13.4767C7.99324 13.7118 9.21849 13.5911 10.332 13.1299C11.4455 12.6687 12.3972 11.8876 13.0668 10.8855C13.7364 9.88339 14.0938 8.70523 14.0938 7.5C14.092 5.88436 13.4495 4.33538 12.307 3.19295C11.1646 2.05052 9.61564 1.40796 8 1.40625ZM10.6754 6.42539L7.39414 9.70664C7.35061 9.75022 7.29891 9.7848 7.24201 9.80839C7.1851 9.83198 7.1241 9.84412 7.0625 9.84412C7.0009 9.84412 6.9399 9.83198 6.883 9.80839C6.82609 9.7848 6.7744 9.75022 6.73086 9.70664L5.32461 8.30039C5.23666 8.21243 5.18724 8.09314 5.18724 7.96875C5.18724 7.84436 5.23666 7.72507 5.32461 7.63711C5.41257 7.54915 5.53186 7.49974 5.65625 7.49974C5.78064 7.49974 5.89994 7.54915 5.98789 7.63711L7.0625 8.71231L10.0121 5.76211C10.0557 5.71856 10.1074 5.68401 10.1643 5.66044C10.2212 5.63687 10.2822 5.62474 10.3438 5.62474C10.4053 5.62474 10.4663 5.63687 10.5232 5.66044C10.5801 5.68401 10.6318 5.71856 10.6754 5.76211C10.7189 5.80566 10.7535 5.85736 10.7771 5.91427C10.8006 5.97117 10.8128 6.03216 10.8128 6.09375C10.8128 6.15534 10.8006 6.21633 10.7771 6.27323C10.7535 6.33014 10.7189 6.38184 10.6754 6.42539Z" fill="#FFD7DA"/>
              </svg>
              | Integrating with Telegram
            p 
              <svg width="16" height="15" viewBox="0 0 16 15" fill="none">
                <path d="M8 1.40625C6.79477 1.40625 5.61661 1.76364 4.6145 2.43323C3.61238 3.10282 2.83133 4.05454 2.37011 5.16802C1.90889 6.28151 1.78821 7.50676 2.02334 8.68883C2.25847 9.8709 2.83884 10.9567 3.69107 11.8089C4.5433 12.6612 5.6291 13.2415 6.81117 13.4767C7.99324 13.7118 9.21849 13.5911 10.332 13.1299C11.4455 12.6687 12.3972 11.8876 13.0668 10.8855C13.7364 9.88339 14.0938 8.70523 14.0938 7.5C14.092 5.88436 13.4495 4.33538 12.307 3.19295C11.1646 2.05052 9.61564 1.40796 8 1.40625ZM10.6754 6.42539L7.39414 9.70664C7.35061 9.75022 7.29891 9.7848 7.24201 9.80839C7.1851 9.83198 7.1241 9.84412 7.0625 9.84412C7.0009 9.84412 6.9399 9.83198 6.883 9.80839C6.82609 9.7848 6.7744 9.75022 6.73086 9.70664L5.32461 8.30039C5.23666 8.21243 5.18724 8.09314 5.18724 7.96875C5.18724 7.84436 5.23666 7.72507 5.32461 7.63711C5.41257 7.54915 5.53186 7.49974 5.65625 7.49974C5.78064 7.49974 5.89994 7.54915 5.98789 7.63711L7.0625 8.71231L10.0121 5.76211C10.0557 5.71856 10.1074 5.68401 10.1643 5.66044C10.2212 5.63687 10.2822 5.62474 10.3438 5.62474C10.4053 5.62474 10.4663 5.63687 10.5232 5.66044C10.5801 5.68401 10.6318 5.71856 10.6754 5.76211C10.7189 5.80566 10.7535 5.85736 10.7771 5.91427C10.8006 5.97117 10.8128 6.03216 10.8128 6.09375C10.8128 6.15534 10.8006 6.21633 10.7771 6.27323C10.7535 6.33014 10.7189 6.38184 10.6754 6.42539Z" fill="#FFD7DA"/>
              </svg>
              | Integrating with Discord
            p 
              <svg width="16" height="15" viewBox="0 0 16 15" fill="none">
                <path d="M8 1.40625C6.79477 1.40625 5.61661 1.76364 4.6145 2.43323C3.61238 3.10282 2.83133 4.05454 2.37011 5.16802C1.90889 6.28151 1.78821 7.50676 2.02334 8.68883C2.25847 9.8709 2.83884 10.9567 3.69107 11.8089C4.5433 12.6612 5.6291 13.2415 6.81117 13.4767C7.99324 13.7118 9.21849 13.5911 10.332 13.1299C11.4455 12.6687 12.3972 11.8876 13.0668 10.8855C13.7364 9.88339 14.0938 8.70523 14.0938 7.5C14.092 5.88436 13.4495 4.33538 12.307 3.19295C11.1646 2.05052 9.61564 1.40796 8 1.40625ZM10.6754 6.42539L7.39414 9.70664C7.35061 9.75022 7.29891 9.7848 7.24201 9.80839C7.1851 9.83198 7.1241 9.84412 7.0625 9.84412C7.0009 9.84412 6.9399 9.83198 6.883 9.80839C6.82609 9.7848 6.7744 9.75022 6.73086 9.70664L5.32461 8.30039C5.23666 8.21243 5.18724 8.09314 5.18724 7.96875C5.18724 7.84436 5.23666 7.72507 5.32461 7.63711C5.41257 7.54915 5.53186 7.49974 5.65625 7.49974C5.78064 7.49974 5.89994 7.54915 5.98789 7.63711L7.0625 8.71231L10.0121 5.76211C10.0557 5.71856 10.1074 5.68401 10.1643 5.66044C10.2212 5.63687 10.2822 5.62474 10.3438 5.62474C10.4053 5.62474 10.4663 5.63687 10.5232 5.66044C10.5801 5.68401 10.6318 5.71856 10.6754 5.76211C10.7189 5.80566 10.7535 5.85736 10.7771 5.91427C10.8006 5.97117 10.8128 6.03216 10.8128 6.09375C10.8128 6.15534 10.8006 6.21633 10.7771 6.27323C10.7535 6.33014 10.7189 6.38184 10.6754 6.42539Z" fill="#FFD7DA"/>
              </svg>
              | Analyzing Data
        .home__hero__chat 
          img(src="images/avatar-01.png" alt="")
          div(left)
            p What Bot can i create next????
        .home__hero__chat 
          img(src="images/logo.png" alt="")
          div(right)
            p There is no limits, integrate anywhere; in minutes.
            img(src="images/wave.png" alt="")
      .home__hero__figure 
        img(src="images/figure.png" alt="")
      .home__hero__video
        video(src="images/video.mp4")
        <svg width="178" height="178" viewBox="0 0 178 178" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="20" y="20" width="138" height="138" rx="69" fill="white" fill-opacity="0.5"/>
          <path d="M118.362 84.7531L77.84 60.308C77.1568 59.8955 76.3743 59.6703 75.5733 59.6556C74.7724 59.641 73.982 59.8375 73.2838 60.2248C72.5922 60.6061 72.0161 61.1622 71.6147 61.8358C71.2133 62.5095 71.0012 63.2764 71 64.0577V112.942C71.0052 114.114 71.4822 115.236 72.326 116.062C73.1698 116.887 74.3115 117.348 75.5 117.344C76.3296 117.343 77.143 117.118 77.8513 116.692L118.362 92.2469C119.014 91.8555 119.552 91.3056 119.925 90.6499C120.299 89.9942 120.495 89.2548 120.495 88.5028C120.495 87.7508 120.299 87.0114 119.925 86.3557C119.552 85.7 119.014 85.15 118.362 84.7586V84.7531ZM75.5 112.89V64.0938L115.952 88.5L75.5 112.89Z" fill="#9477FF"/>
          <rect width="178" height="178" rx="89" fill="white" fill-opacity="0.2"/>
          <path d="M118.362 84.7531L77.84 60.308C77.1568 59.8955 76.3743 59.6703 75.5733 59.6556C74.7724 59.641 73.982 59.8375 73.2838 60.2248C72.5922 60.6061 72.0161 61.1622 71.6147 61.8358C71.2133 62.5095 71.0012 63.2764 71 64.0577V112.942C71.0052 114.114 71.4822 115.236 72.326 116.062C73.1698 116.887 74.3115 117.348 75.5 117.344C76.3296 117.343 77.143 117.118 77.8513 116.692L118.362 92.2469C119.014 91.8555 119.552 91.3056 119.925 90.6499C120.299 89.9942 120.495 89.2548 120.495 88.5028C120.495 87.7508 120.299 87.0114 119.925 86.3557C119.552 85.7 119.014 85.15 118.362 84.7586V84.7531ZM75.5 112.89V64.0938L115.952 88.5L75.5 112.89Z" fill="#9477FF"/>
        </svg>
      .home__hero__clients 
        p paal ai powers AI bot creation and machine learning with today's top companies.
        div
          .left(desktop)
          img(src="images/logos.png" alt="" desktop)
          img(src="images/logos.png" alt="" desktop)
          img(src="images/logosM.png" alt="" mobile)
          .right(desktop)

    section.home__meso 
      p.home__meso__pre ABOUT PAAL
      h2.home__meso__head Paal is a robust ecosystem leveraging advanced <i>AI and ML</i> Technologies.
      p.home__meso__sub Paal enables users to create personalized AI Bots, Deploy across multiple platforms including Telegram, Discord or your own app offering comprehensive solutions for businesses and projects.
      img.home__meso__icon(src="images/logo.png" alt="")
      img.home__meso__meso(src="images/meso.png" alt="" light)
      img.home__meso__meso(src="images/mesoDark.png" alt="" dark)
      .home__meso__stats 
        .home__meso__stat 
          h3 $200,000,00+
          p Total Trading Volume
        .home__meso__stat 
          h3 3x Smarter
          p Than other Bots
        .home__meso__stat 
          h3 $101,414,052
          p Market Capitalization
      figure.home__meso__bg 
        img(src="images/mesobg.png" alt="" light desktop)
        img(src="images/mesobgM.png" alt="" light mobile)
        img(src="images/mesobgDark.png" alt="" dark desktop)
        img(src="images/mesobgDarkM.png" alt="" dark mobile)
      p.home__meso__intro products
      h3.home__meso__title PAAL is a <i>Powerful Ecosystem</i>, redefining Online trading experiences, engineered to enhance Investor knowledge, and empower communities with advanced utilities
      ul.home__meso__list 
        li.home__meso__item
          img(src="images/meso-item-01.png" alt="")
          h4 Information
          p performs autonomous research, analysis, insights, data aggregation, knowledge extraction, curation.
        li.home__meso__item
          img(src="images/meso-item-02.png" alt="")
          h4 Communities
          p PAAL AI drives engagement, dialog, entertainment, chat mod, automated support, and delivers information.
        li.home__meso__item
          img(src="images/meso-item-03.png" alt="")
          h4 Utilities
          p Takes market actions based on information using powerful tools.

    section.home__steps 
      ul.home__steps__list
        .home__step 
          figure.home__step__media
            img(src="images/step-01.png" alt="")
          div
            .home__step__bg 1.
            h4.home__step__head Powerful AI Bot Assistance for communities, groups or individuals to integrate anywhere.
            ul.home__step__body 
              li AI Assistance for any topic with real-time internet data.
              li AI assistance for crypto research and real-time metrics.
              li Customizable to any data/Content/Topic; Personality of Behavior
              li White Label, Clones for Brands, Projects, Communities or Businesses.
            a.home__step__cta(href="") Get Bot
        .home__step(negate)
          figure.home__step__media
            img(src="images/step-02.png" alt="")
          div
            .home__step__bg(x2) 2
            h4.home__step__head Crypto trading add-on for Paal Bots/<i mobile> </i>Assistants
            ul.home__step__body 
              li Paal X Wallet
              li Advanced Crypto Trading Functions
              li Pro trading strategies; market intelligence
              li White Label / Clones
              li Autonomous AI Trading
            a.home__step__cta(href="") Use PaalX
        .home__step 
          figure.home__step__media
            img(src="images/step-03.png" alt="")
          div
            .home__step__bg(x3) 3
            h4.home__step__head Powerful AI Bot/Assistant for Sports Betting
            ul.home__step__body 
              li AI for any sports research; real-time sports data
              li Customizable to any sports data / any personality / behavior
              li Basic/advanced betting functions (parlay bets, prop bets, etc)
              li Autonomous AI Sports Betting
              li White Label / Clone AI Sports Betting bots
              li Pro betting strategies, betting intelligence
            a.home__step__cta(href="") Coming soon
      .home__steps__ad
        img(src="images/globe.png" alt="")
        div
          p.home__steps__intro SERVICES
          h3.home__steps__head Paal AI Custom <i>Bot Solutions</i>, Tailored to you.
          p.home__steps__text We specialize in delivering a wide array of AI-driven Bot and Assistant solutions tailored to meet the unique requirements of different industry verticals.
          p.home__steps__sub Paal bots engage, entertain educate, inform and automate actions for:
        ul.home__steps__pills 
          li.home__steps__pill
            p Marketplaces
          li.home__steps__pill
            p Brands
          li.home__steps__pill
            p Celebrities
          li.home__steps__pill
            p Crypto Projects
          li.home__steps__pill
            p Campaigns
          li.home__steps__pill
            p Trade/bet/gaming markets;
          li.home__steps__pill
            p Influencers
          li.home__steps__pill
            p Coaches
          li.home__steps__pill
            p Education
          li.home__steps__pill
            p Online CIOs
      ul.home__steps__stats 
        p Our Bot Solutions are loved by many
        div
          li.home__steps__stat
            h4 4000+
            p Active Groups
          li.home__steps__stat
            h4 3.7M+
            p Members
          li.home__steps__stat
            h4 30k+
            p Users
          li.home__steps__stat
            h4 1M+
            p Prompts




