/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* added by Goody */
* {
  box-sizing: border-box;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea,
button,
select,
a,
div,
* {
  -webkit-tap-highlight-color: transparent;
}

svg {
  display: block;
  width: inherit;
  height: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none !important;
}

.dg {
  z-index: 600;
}

html,
body {
  scroll-behavior: auto !important;
  overscroll-behavior-x: none;
  -webkit-text-size-adjust: none;
}

.ScrollSmoother-wrapper {
  pointer-events: none;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

html {
  font-size: 0.6613756614vw;
  background: var(--bg);
  --bg: #fff;
  --text: #000;
  --text2: #161518;
  --transText: #8e8e8e;
  --transText2: #777878;
  --transText3: #565560;
  --transText4: #82808f;
}
@media (max-width: 759px) {
  html {
    font-size: 2.5445292621vw;
    width: 100vw !important;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 0.3636363636vw;
  }
}
html.dark {
  --bg: #100725;
  --text: #fff;
  --text2: #fff;
  --transText: #7d7fa8;
  --transText2: #606c85;
  --transText3: #dcdbe0;
  --transText4: #b1b0b9;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

@media (max-width: 759px) {
  [desktop] {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

@media (min-width: 760px) {
  [mobile] {
    display: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
  }
}

html:not(.dark) [dark] {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.dark [light] {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

button {
  background: transparent;
  padding: unset;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header__intro {
  background: linear-gradient(269deg, #ffd8db -18.44%, #8057da 137.37%);
  text-align: center;
  color: #fff;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139%; /* 2.224rem */
  padding: 0.7rem;
  position: relative;
}
.header__intro svg {
  position: absolute;
  top: 0.9rem;
  right: 1.4rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
}
@media (max-width: 759px) {
  .header__intro {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  padding-left: 12rem;
  padding-right: 7.7rem;
  padding-top: 2.4rem;
  padding-bottom: 1.2rem;
  background: linear-gradient(45deg, var(--bg) 30%, transparent);
}
@media (max-width: 759px) {
  .header__menu {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    background: linear-gradient(45deg, var(--bg) -50%, transparent);
  }
}

.header__menu__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 7.2rem;
}
@media (max-width: 759px) {
  .header__menu__logo {
    gap: 0.64rem;
    margin-right: auto;
  }
}
.header__menu__logo img {
  width: 4.6rem;
  height: 4.7rem;
}
@media (max-width: 759px) {
  .header__menu__logo img {
    width: 3.7047rem;
    height: 3.7852rem;
  }
}
.header__menu__logo h1 {
  color: var(--text);
  font-family: Inter;
  font-size: 2.4641rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 759px) {
  .header__menu__logo h1 {
    font-size: 1.9845rem;
  }
}

.header__menu__links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__menu__link {
  color: var(--transText);
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__menu__wallet {
  color: #7f56d9;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3.8rem;
  background: linear-gradient(77deg, rgba(215, 197, 255, 0.72) -54.66%, rgba(255, 255, 255, 0.72) 111.42%), linear-gradient(261deg, #ffc4a4 -3.11%, #fff 123.01%);
  margin-left: 25.2rem;
  padding: 1.05rem 1.6rem;
  height: 4rem;
  width: 13.7rem;
  display: grid;
  place-content: center;
}

.header__menu__stake {
  color: #fff;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: 5.5rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
  box-shadow: 0 0.1rem 0.15rem 0 #cebcf7;
  padding: 1rem 1.6rem;
  height: 4rem;
  width: 14.6rem;
  display: grid;
  place-content: center;
  margin-left: auto;
}

.header__menu__toggle {
  margin-left: 1.6rem;
}
.header__menu__toggle svg {
  width: 2.4rem;
  height: 2.4rem;
}
.header__menu__toggle svg:last-of-type {
  display: none;
}
.dark .header__menu__toggle svg:first-of-type {
  display: none;
}
.dark .header__menu__toggle svg:last-of-type {
  display: block;
}

.header__menu__open {
  margin-left: 1.3rem;
}
.header__menu__open svg {
  width: 2.4rem;
  height: 2.4rem;
}

.footer {
  padding-top: 17.6rem;
}
@media (max-width: 759px) {
  .footer {
    padding-top: 8.2rem;
  }
}

.footer__intro {
  color: var(--text);
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2235rem;
  line-height: 120%; /* 6.2682rem */
}
@media (max-width: 759px) {
  .footer__intro {
    font-size: 2.4rem;
    width: 35.2rem;
    text-align: center;
    margin: 0 auto;
  }
}
.footer__intro i {
  background: linear-gradient(268deg, #ffd7da 3.4%, #7f56d9 93.61%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__supporters {
  display: flex;
  width: 130.1rem;
  margin: 8.6rem auto 0;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 759px) {
  .footer__supporters {
    flex-wrap: wrap;
    margin-top: 1.7rem;
    width: 35.2rem;
    gap: 2.1rem 4.253rem;
    justify-content: center;
  }
}
.footer__supporters img {
  object-fit: contain;
}
.footer__supporters img:nth-of-type(1),
.footer__supporters img:nth-of-type(2) {
  width: 18.93rem;
  height: 2.8774rem;
}
@media (max-width: 759px) {
  .footer__supporters img:nth-of-type(1),
  .footer__supporters img:nth-of-type(2) {
    width: 11.626rem;
    height: 1.7672rem;
  }
}
.footer__supporters img:nth-of-type(3),
.footer__supporters img:nth-of-type(4) {
  width: 15.144rem;
  height: 4.0889rem;
}
@media (max-width: 759px) {
  .footer__supporters img:nth-of-type(3),
  .footer__supporters img:nth-of-type(4) {
    width: 9.3008rem;
    height: 2.5112rem;
  }
}
.footer__supporters img:nth-of-type(5) {
  width: 9.3893rem;
  height: 2.8774rem;
}
@media (max-width: 759px) {
  .footer__supporters img:nth-of-type(5) {
    width: 5.7665rem;
    height: 1.7672rem;
  }
}
.dark .footer__supporters img:nth-of-type(5) {
  filter: invert(1);
}
.footer__supporters img:nth-of-type(6),
.footer__supporters img:nth-of-type(7) {
  width: 11.8202rem;
  height: 4.8383rem;
}
@media (max-width: 759px) {
  .footer__supporters img:nth-of-type(6),
  .footer__supporters img:nth-of-type(7) {
    width: 7.2595rem;
    height: 2.9715rem;
  }
}
.footer__supporters img:nth-of-type(8),
.footer__supporters img:nth-of-type(9) {
  width: 19.78rem;
  height: 3.6533rem;
}
@media (max-width: 759px) {
  .footer__supporters img:nth-of-type(8),
  .footer__supporters img:nth-of-type(9) {
    width: 12.1481rem;
    height: 2.2437rem;
  }
}

.footer__ad {
  width: 126rem;
  height: 42.9rem;
  border-radius: 1.5rem;
  background: radial-gradient(193.79% 193.79% at 50% 1.59%, #ffd7da 32%, #c59dd9 62.5%, #7f56d9 100%);
  margin: 19.16rem auto 0;
  position: relative;
  padding-top: 5.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 759px) {
  .footer__ad {
    width: 35.3rem;
    height: 35.1rem;
    margin-top: 8.12rem;
    padding-top: 5.2rem;
  }
}
.footer__ad img:nth-of-type(1),
.footer__ad img:nth-of-type(2) {
  position: absolute;
  top: 0;
}
.footer__ad img:last-of-type {
  width: 5.6rem;
  height: 5.6rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.footer__ad h2 {
  margin-top: 2.5rem;
  color: #895c73;
  text-align: center;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 4.1rem;
  line-height: 5.5rem; /* 134.146% */
  width: 52.6rem;
  position: relative;
  z-index: 1;
}
@media (max-width: 759px) {
  .footer__ad h2 {
    font-size: 3rem;
    width: 29.1rem;
    line-height: 3.6rem; /* 120% */
    margin-top: 3.5rem;
  }
}
.footer__ad h2 i {
  color: #000;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-weight: 500;
}
.footer__ad a {
  color: var(--White, #fff);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem; /* 142.857% */
  min-width: 19.9rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  white-space: pre;
  position: relative;
  z-index: 1;
}
@media (max-width: 759px) {
  .footer__ad a {
    margin-top: 4rem;
  }
}
.footer__ad a i {
  font-weight: 400;
}

.footer__footer {
  margin: 12.7rem 12.1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 759px) {
  .footer__footer {
    margin: 10.5rem 0.45rem;
    flex-direction: column;
  }
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.8rem;
  margin-right: 7.2rem;
}
@media (max-width: 759px) {
  .footer__logo {
    gap: 0.64rem;
    margin-right: auto;
    margin: 0.8rem auto 0;
  }
}
.footer__logo img {
  width: 4.6rem;
  height: 4.7rem;
}
@media (max-width: 759px) {
  .footer__logo img {
    width: 3.7047rem;
    height: 3.7852rem;
  }
}
.footer__logo h1 {
  color: var(--text);
  font-family: Inter;
  font-size: 2.4641rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 759px) {
  .footer__logo h1 {
    font-size: 1.9845rem;
  }
}

.footer__links {
  display: grid;
  margin-left: auto;
}
@media (max-width: 759px) {
  .footer__links {
    margin-top: 6.9rem;
    margin-right: auto;
  }
}
.footer__links p {
  color: #b1b0b9;
  text-align: right;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9rem; /* 181.25% */
  text-align: right;
  width: 35rem;
  margin-top: 2.2rem;
  margin-left: auto;
}
@media (max-width: 759px) {
  .footer__links p {
    text-align: center;
    margin-top: 1.41rem;
  }
}
.footer__links a {
  color: var(--text2);
  text-decoration-line: underline;
}

.footer__socials {
  display: flex;
  gap: 3.2rem;
}
@media (max-width: 759px) {
  .footer__socials {
    justify-content: center;
  }
}
.footer__socials a {
  width: 3.2rem;
  height: 3.2rem;
}
@media (max-width: 759px) {
  .footer__socials a {
    width: 2.2615rem;
    height: 2.2615rem;
  }
}
.dark .footer__socials img {
  filter: contrast(1);
}
.dark .footer__socials [invert] {
  filter: invert(1);
}

.footer__end {
  width: 151.4rem;
  height: 26.3rem;
  margin-top: -0.3rem;
  position: relative;
}
@media (max-width: 759px) {
  .footer__end {
    width: 39.3rem;
    height: 6.8269rem;
    margin-top: 10.22rem;
  }
}
.footer__end p {
  position: absolute;
  width: 127.2rem;
  padding-top: 3.5rem;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top: 0.1rem solid #d6d6d6;
  color: #b3b3b3;
  font-family: Inter;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 150% */
}
@media (max-width: 759px) {
  .footer__end p {
    padding-top: unset;
    border-top: unset;
    top: unset;
    bottom: 10.9269rem;
    width: unset;
    font-size: 1.2rem;
    text-align: center;
  }
}
.footer__end img {
  position: relative;
  z-index: 1;
}

.__home {
  padding-top: 10.6rem;
  position: relative;
}
@media (max-width: 759px) {
  .__home {
    padding-top: 11.0852rem;
  }
}

.home__hero {
  padding-top: 17.2rem;
  padding-left: 12rem;
  width: 100vw;
  overflow-x: hidden;
}
@media (max-width: 759px) {
  .home__hero {
    padding-top: 34rem;
    padding-left: 2.4rem;
  }
}

.home__hero__head {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116%; /* 6.264rem */
  width: 62.5rem;
}
@media (max-width: 759px) {
  .home__hero__head {
    font-size: 3.4495rem;
    line-height: 111%; /* 3.829rem */
    width: 33.1049rem;
  }
}
.home__hero__head i {
  background: linear-gradient(259deg, #7f56d9 30.02%, #ffd7da 65.34%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 759px) {
  .home__hero__head i {
    background: linear-gradient(265deg, #7f56d9 44.34%, #ffd7da 107.97%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
  }
}

.home__hero__sub {
  width: 62.5rem;
  color: var(--transText2);
  font-family: Inter;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 149%; /* 3.278rem */
  margin-top: 2.3rem;
}
@media (max-width: 759px) {
  .home__hero__sub {
    width: 32.1782rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 149%; /* 2.086rem */
    letter-spacing: -0.028rem;
  }
}
.home__hero__sub i {
  color: var(--text);
}

.home__hero__ctas {
  display: flex;
  margin-top: 4.2rem;
  gap: 2.9rem;
}
@media (max-width: 759px) {
  .home__hero__ctas {
    margin-top: 5.42rem;
    gap: 0.8rem;
  }
}

.home__hero__primary {
  color: white;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  height: 4rem;
  width: 22.5rem;
  display: grid;
  place-content: center;
}
@media (max-width: 759px) {
  .home__hero__primary {
    width: 20.4rem;
  }
}

.home__hero__secondary {
  color: #7f56d9;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: 0.8rem;
  border: 0.1rem solid #fff;
  background: #f1eaff;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  width: 14.6rem;
  height: 4rem;
  display: grid;
  place-content: center;
}
@media (max-width: 759px) {
  .home__hero__secondary {
    width: 13.7rem;
  }
}

.home__hero__supporters {
  margin-top: 14.8rem;
}
@media (max-width: 759px) {
  .home__hero__supporters {
    margin-top: 6rem;
  }
}
.home__hero__supporters p {
  color: #8e8e8e;
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 109%; /* 1.526rem */
  letter-spacing: 0.112rem;
  text-transform: uppercase;
}
@media (max-width: 759px) {
  .home__hero__supporters p {
    font-size: 1.2rem;
    letter-spacing: 0.096rem;
  }
}
.home__hero__supporters div {
  display: flex;
  align-items: center;
  gap: 5.91rem;
  margin-top: 2.2rem;
}
@media (max-width: 759px) {
  .home__hero__supporters div {
    gap: 4.4774rem;
    margin-top: 2.2rem;
  }
}
.home__hero__supporters img:nth-of-type(1),
.home__hero__supporters img:nth-of-type(2) {
  width: 13.9313rem;
  height: 2.1176rem;
}
@media (max-width: 759px) {
  .home__hero__supporters img:nth-of-type(1),
  .home__hero__supporters img:nth-of-type(2) {
    width: 10.5598rem;
    height: 1.6051rem;
  }
}
.home__hero__supporters img:nth-of-type(3),
.home__hero__supporters img:nth-of-type(4) {
  width: 11.145rem;
  height: 3.0092rem;
}
@media (max-width: 759px) {
  .home__hero__supporters img:nth-of-type(3),
  .home__hero__supporters img:nth-of-type(4) {
    width: 8.4478rem;
    height: 2.2809rem;
  }
}
.home__hero__supporters img:nth-of-type(5) {
  width: 6.9099rem;
  height: 2.1176rem;
}
@media (max-width: 759px) {
  .home__hero__supporters img:nth-of-type(5) {
    width: 5.2377rem;
    height: 1.6051rem;
  }
}
.dark .home__hero__supporters img:nth-of-type(5) {
  filter: invert(1);
}

.home__hero__bg {
  width: 94.9rem;
  height: 94.1rem;
  position: absolute;
  top: 3.6rem;
  right: 0;
  z-index: -1;
  pointer-events: none;
}
@media (max-width: 759px) {
  .home__hero__bg {
    width: 39.3rem;
    height: 95.1rem;
    top: 0;
  }
}

.home__hero__chats {
  position: absolute;
  top: 17.4rem;
  right: 12.15rem;
  width: 47.9rem;
  height: 39rem;
  display: grid;
  gap: 3rem;
}
@media (max-width: 759px) {
  .home__hero__chats {
    top: 8.9rem;
    right: -4.4rem;
    transform: scale(0.65);
  }
}

.home__hero__chat {
  display: flex;
  align-items: flex-end;
  gap: 0.9rem;
}
.home__hero__chat:nth-of-type(2n) {
  flex-direction: row-reverse;
  gap: 0.4rem;
}
.home__hero__chat:nth-of-type(2n) > img {
  width: 3.8rem;
  height: 3.9rem;
}
.home__hero__chat > img {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 4.2rem;
}
.home__hero__chat div {
  border: 0.1rem solid #ffd1d5;
  box-shadow: 0rem 1.8rem 2.57rem 0rem rgba(175, 181, 200, 0.25);
  padding: 1.15rem 2.55rem;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 127%; /* 1.905rem */
  width: 33.4rem;
  min-height: 5.2rem;
  align-items: center;
  display: grid;
  position: relative;
}
.dark .home__hero__chat div {
  box-shadow: 0rem 1.8rem 2.57rem 0rem rgba(0, 0, 0, 0.25);
}
.home__hero__chat div[left] {
  border-radius: 2rem 2rem 2rem 0rem;
  color: #757f91;
  background: #fffefe;
}
.home__hero__chat div[right] {
  border-radius: 2rem 2rem 0rem 2rem;
  color: #fff;
  background: #2a0144;
}
.home__hero__chat div:has(svg) {
  padding-left: 1.1rem;
}
.home__hero__chat:last-of-type div {
  border-radius: 0.8rem 0.8rem 0rem 0.8rem;
}
.home__hero__chat p {
  display: flex;
  gap: 0.8rem;
}
.home__hero__chat div img {
  position: absolute;
  width: 3.17391rem;
  height: 3.04167rem;
  top: -1rem;
  right: -0.57rem;
}
.home__hero__chat div[right] img {
  right: -0.7rem;
}

.home__hero__figure {
  width: 25.73rem;
  height: 61.9rem;
  position: absolute;
  top: 63.2rem;
  right: 21.17rem;
}
@media (max-width: 759px) {
  .home__hero__figure {
    display: none;
  }
}

.home__hero__video {
  width: 127.4rem;
  height: 67.2rem;
  margin-top: 7.89rem;
  position: relative;
  z-index: -1;
  border-radius: 1.2rem;
  border: 0.2rem solid #fff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
  overflow: hidden;
}
@media (max-width: 759px) {
  .home__hero__video {
    width: 35.2rem;
    height: 27.7rem;
    margin-top: 8.42rem;
    margin-left: -0.35rem;
  }
}
.dark .home__hero__video {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
}
.home__hero__video svg {
  width: 17.8rem;
  height: 17.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 759px) {
  .home__hero__video svg {
    width: 11.2rem;
    height: 11.2rem;
  }
}

.home__hero__clients {
  margin-top: 11rem;
  text-align: center;
  color: var(--text);
  font-family: Inter;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 109%; /* 1.526rem */
  letter-spacing: 0.112rem;
  text-transform: uppercase;
  position: relative;
  height: 11.14164rem;
}
@media (max-width: 759px) {
  .home__hero__clients {
    margin-top: 8.4rem;
    font-size: 1.2rem;
    line-height: 142%; /* 1.704rem */
    letter-spacing: 0.096rem;
    width: 36.2rem;
    margin-left: -0.8rem;
    height: unset;
  }
}
.home__hero__clients div {
  position: absolute;
  bottom: 0;
  left: -10.2rem;
  display: flex;
  width: calc(100vw - 3.6rem);
}
@media (max-width: 759px) {
  .home__hero__clients div {
    position: unset;
  }
}
.home__hero__clients img {
  width: 156.8rem;
  height: 4.4703rem;
}
@media (max-width: 759px) {
  .home__hero__clients img {
    width: 36.2rem;
    height: 7.729rem;
    margin-top: 4.2rem;
  }
}
.dark .home__hero__clients img {
  filter: invert(0.5);
  mix-blend-mode: plus-lighter;
}
.home__hero__clients .left {
  position: absolute;
  left: -1.8rem;
  background: linear-gradient(271deg, #fff 15.38%, rgba(255, 255, 255, 0) 93.76%);
  width: 29.7863rem;
  height: 5.5416rem;
  transform: rotate(180deg);
}
.dark .home__hero__clients .left {
  background: linear-gradient(271deg, #100725 15.38%, rgba(16, 7, 37, 0) 93.76%);
  z-index: 1;
}
.home__hero__clients .right {
  position: absolute;
  left: 119.6rem;
  background: linear-gradient(271deg, #fff 15.38%, rgba(255, 255, 255, 0) 93.76%);
  width: 29.7863rem;
  height: 5.5416rem;
}
.dark .home__hero__clients .right {
  background: linear-gradient(271deg, #100725 15.38%, rgba(16, 7, 37, 0) 93.76%);
  z-index: 1;
}

.home__meso {
  padding-top: 19.06rem;
  padding-bottom: 10rem;
  padding-left: 12.1rem;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  z-index: 1;
}
@media (max-width: 759px) {
  .home__meso {
    padding-top: 15.77rem;
    padding-left: 2rem;
  }
}

.home__meso__pre {
  color: var(--transText3);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 1.937rem */
  letter-spacing: 0.91rem;
}
@media (max-width: 759px) {
  .home__meso__pre {
    font-size: 1.1rem;
    letter-spacing: 0.77rem;
  }
}

.home__meso__head {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2235rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 6.2682rem */
  width: 89rem;
  margin-top: 2.2rem;
}
@media (max-width: 759px) {
  .home__meso__head {
    font-size: 3rem;
    width: 35.3rem;
    margin-top: 1.2rem;
  }
}
.home__meso__head i {
  background: linear-gradient(268deg, #ffd7da 0%, #7f56d9 58.81%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__meso__sub {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 2.98rem */
  letter-spacing: 0.02rem;
  width: 87rem;
  margin-top: 2.2rem;
}
@media (max-width: 759px) {
  .home__meso__sub {
    font-size: 1.4rem;
    letter-spacing: 0.014rem;
    width: 34.5067rem;
    margin-top: 1.2rem;
  }
}

.home__meso__icon {
  position: absolute;
  width: 4.6rem;
  height: 4.7rem;
  top: 27.96rem;
  right: 32.1rem;
}
@media (max-width: 759px) {
  .home__meso__icon {
    width: 2.4rem;
    height: 2.4rem;
    right: 1.5rem;
  }
}

.home__meso__meso {
  width: 151.3rem;
  height: 41rem;
  position: relative;
  left: -12.1rem;
  margin-top: 3.9rem;
}
@media (max-width: 759px) {
  .home__meso__meso {
    width: 69.4rem;
    left: -18.8rem;
    height: auto;
    margin-top: 2.58rem;
  }
}

.home__meso__stats {
  display: flex;
  gap: 14.95rem;
  margin-top: 3.8rem;
  width: fit-content;
}
@media (max-width: 759px) {
  .home__meso__stats {
    padding-left: 1.8rem;
    padding-right: 3.8rem;
    margin: 3.35rem auto 0;
    flex-direction: column;
    gap: 6.5rem;
  }
}

.home__meso__stat h3 {
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 493;
  line-height: 111%; /* 6.216rem */
  background: linear-gradient(180deg, #8057da 0%, #ffd8db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 759px) {
  .home__meso__stat h3 {
    font-size: 4.2rem;
  }
}
.home__meso__stat p {
  color: var(--transText3);
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 111%; /* 2.442rem */
  padding-top: 0.8rem;
}
@media (max-width: 759px) {
  .home__meso__stat p {
    font-size: 1.8rem;
  }
}

.home__meso__bg {
  width: 151.4rem;
  height: 89.1rem;
  left: 0rem;
  top: 121.26rem;
  position: absolute;
  z-index: -1;
}
@media (max-width: 759px) {
  .home__meso__bg {
    width: 41.588rem;
    height: 28.5151rem;
    left: -1.49rem;
    top: 112.54rem;
  }
}

.home__meso__intro {
  color: var(--transText3);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 1.937rem */
  letter-spacing: 0.91rem;
  text-align: center;
  text-transform: uppercase;
  padding-right: 12.1rem;
  margin-top: 51.4rem;
}
@media (max-width: 759px) {
  .home__meso__intro {
    font-size: 1.1rem;
    letter-spacing: 0.77rem;
    margin-top: 26.1rem;
    padding-right: 2rem;
  }
}

.home__meso__title {
  color: var(--text);
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 5.04rem */
  width: 104.3rem;
  padding-right: 12.1rem;
  margin: 0.8rem auto 0;
}
@media (max-width: 759px) {
  .home__meso__title {
    font-size: 2.2rem;
    width: 37.3rem;
    padding-right: 1.9rem;
    margin-top: 1.5rem;
  }
}
.home__meso__title i {
  background: linear-gradient(87deg, #ffd7da 25.18%, #7f56d9 56.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__meso__list {
  display: flex;
  gap: 10.9rem;
  margin: 13rem auto 0;
  padding-right: 12.1rem;
  width: fit-content;
}
@media (max-width: 759px) {
  .home__meso__list {
    flex-direction: column;
    gap: 3.4rem;
    margin-top: 6.5rem;
    padding-right: 2rem;
  }
}

.home__meso__item {
  width: 27.9rem;
  height: 21.2rem;
  border-radius: 1.2rem;
  border: 0.1rem solid #ffd7da;
  background: var(--bg);
  box-shadow: 0rem 2.2rem 3.51rem 0rem rgba(222, 220, 232, 0.57);
  padding: 2rem 2.45rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 759px) {
  .home__meso__item {
    width: 34.9rem;
    height: 21.2rem;
  }
}
.dark .home__meso__item {
  box-shadow: unset;
}
.home__meso__item img {
  width: 4.1rem;
  height: 4.2rem;
}
.home__meso__item h4 {
  color: var(--text);
  text-align: center;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 111%; /* 2.997rem */
  text-align: left;
  margin-top: auto;
}
.home__meso__item p {
  color: #82808f;
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 1.96rem */
  padding-top: 1.2rem;
}

.home__steps {
  padding-top: 10.9rem;
  padding-left: 12rem;
  width: 100vw;
  overflow-x: hidden;
}
@media (max-width: 759px) {
  .home__steps {
    padding-top: 2.8rem;
    padding-left: 2rem;
  }
}

.home__steps__list {
  display: grid;
  padding-left: 5.35rem;
  padding-right: 17.35rem;
  gap: 16.55rem;
}
@media (max-width: 759px) {
  .home__steps__list {
    padding: unset;
    gap: 10.5rem;
  }
}

.home__step {
  display: flex;
  gap: 12.55rem;
}
@media (max-width: 759px) {
  .home__step {
    flex-direction: column !important;
    gap: 0rem;
  }
}
.home__step[negate] {
  flex-direction: row-reverse;
}
.home__step > div {
  position: relative;
}

.home__step__media {
  width: 51.8rem;
  height: auto;
  border-radius: 1.3rem;
  overflow: hidden;
}
@media (max-width: 759px) {
  .home__step__media {
    width: 35.3rem;
  }
}

.home__step__bg {
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 19.0927rem;
  line-height: 120%; /* 22.9112rem */
  background: var(--background);
  --background: radial-gradient(
    65.33% 66.28% at 38.57% 34.72%,
    #bfbfbf 0%,
    rgba(241, 241, 241, 0.22) 77.69%,
    rgba(163, 163, 163, 0) 99.96%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: -1.3rem;
  z-index: -1;
}
.home__step__bg[x2] {
  --background: radial-gradient(
    60.81% 143.69% at 100% 28.38%,
    #bfbfbf 11.35%,
    rgba(241, 241, 241, 0.22) 77.69%,
    rgba(163, 163, 163, 0.33) 99.96%
  );
}
.home__step__bg[x3] {
  --background: radial-gradient(
    64.53% 126.21% at -6.12% 25.11%,
    #bfbfbf 11.35%,
    rgba(241, 241, 241, 0.22) 77.69%,
    rgba(163, 163, 163, 0.33) 99.96%
  );
}
@media (max-width: 759px) {
  .home__step__bg {
    font-size: 15.0014rem;
    left: -0.4rem;
  }
}
.dark .home__step__bg {
  opacity: 0.5;
}

.home__step__head {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 493;
  line-height: 124%; /* 3.472rem */
  padding-top: 9.4rem;
  width: 51.8rem;
}
@media (max-width: 759px) {
  .home__step__head {
    font-size: 2rem;
    width: 37rem;
    padding-top: 6.92rem;
  }
}

.home__step__body {
  margin-top: 3.6rem;
  color: var(--transText4);
  font-family: "TT Hoves Pro Trial Variable";
  font-size: 2rem;
  line-height: 130%; /* 2.6rem */
  letter-spacing: 0.02rem;
  padding-left: 3rem;
  list-style: disc;
  width: 51.85rem;
}
@media (max-width: 759px) {
  .home__step__body {
    margin-top: 1.46rem;
    font-size: 1.457rem;
    letter-spacing: 0.0146rem;
    width: 36.7rem;
    padding-left: 2.3rem;
  }
}

.home__step__cta {
  color: #fff;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
  width: 18.8rem;
  height: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  margin-top: 2rem;
}
@media (max-width: 759px) {
  .home__step__cta {
    width: 35.3rem;
    height: 4.4rem;
    margin-top: 2.91rem;
    border-radius: 0.5457rem;
    border: 0.0682rem solid #9771ea;
    background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
    box-shadow: 0rem 0.0682rem 0.1023rem 0rem #cebcf7;
  }
}

.home__steps__ad {
  margin-left: 0.4rem;
  margin-top: 18.7rem;
  width: 126.4rem;
  height: 76.3rem;
  border-radius: 2.4rem;
  background: #000;
  overflow: hidden;
  position: relative;
  padding-left: 10.8rem;
}
@media (max-width: 759px) {
  .home__steps__ad {
    margin-left: -0.5rem;
    margin-top: 7.71rem;
    width: 35.4rem;
    height: 66.1rem;
    padding-left: 2.5rem;
  }
}
.home__steps__ad img {
  position: absolute;
  width: 107.9955rem;
  height: 110.4rem;
  top: 23rem;
  left: 64.7rem;
  mix-blend-mode: screen;
}
@media (max-width: 759px) {
  .home__steps__ad img {
    width: 37.2rem;
    height: 38rem;
    top: 49.9rem;
    left: 6.9rem;
  }
}
.home__steps__ad > div {
  position: relative;
  z-index: 1;
}

.home__steps__intro {
  color: var(--Neutral-Neutral-500, #d0d0d5);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 1.937rem */
  letter-spacing: 0.91rem;
  margin-top: 7.6rem;
}
@media (max-width: 759px) {
  .home__steps__intro {
    font-size: 1.2rem;
    letter-spacing: 0.84rem;
    margin-top: 3.2rem;
  }
}

.home__steps__head {
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 6.24rem */
  width: 74.3rem;
  margin-top: 2.2rem;
}
@media (max-width: 759px) {
  .home__steps__head {
    font-size: 2.8rem;
    width: 31.8rem;
    margin-top: 0.92rem;
  }
}
.home__steps__head i {
  background: linear-gradient(268deg, #ffd7da 8.52%, #7f56d9 80.17%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__steps__text {
  width: 70rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 3.278rem */
  letter-spacing: 0.022rem;
  margin-top: 2.2rem;
}
@media (max-width: 759px) {
  .home__steps__text {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    width: 31.8rem;
    margin-top: 0.92rem;
  }
}

.home__steps__sub {
  width: 75.8rem;
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 2.831rem */
  letter-spacing: 0.019rem;
  margin-top: 10.9rem;
}
@media (max-width: 759px) {
  .home__steps__sub {
    width: 29.1rem;
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    margin-top: 5.15rem;
  }
}

.home__steps__pills {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem 3.8rem;
  width: 116rem;
  margin-top: 2.5rem;
}
@media (max-width: 759px) {
  .home__steps__pills {
    margin-top: 2rem;
    gap: 1rem;
    width: 30.7rem;
  }
}

.home__steps__pill {
  color: #a093b4;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%;
  letter-spacing: 0.02rem;
  background: linear-gradient(89deg, #ffd7da -8.47%, #7f56d9 16.87%, #000 74.61%);
  border-radius: 1.2rem;
  padding: 0.16rem;
  display: grid;
  place-content: center;
}
@media (max-width: 759px) {
  .home__steps__pill {
    font-size: 1.4rem;
    letter-spacing: 0.014rem;
    border-radius: 0.6659rem;
    padding: 0.1rem;
  }
  .home__steps__pill:nth-of-type(6), .home__steps__pill:nth-of-type(7), .home__steps__pill:nth-of-type(8), .home__steps__pill:nth-of-type(10) {
    order: 1;
  }
}
.home__steps__pill p {
  background: #000;
  padding: 1.59rem 3.64rem;
  border-radius: 1.12rem;
}
@media (max-width: 759px) {
  .home__steps__pill p {
    padding: 0.94rem 2.11rem;
    border-radius: 0.6159rem;
    min-width: 12.8rem;
  }
}

.home__steps__stats {
  padding-top: 13rem;
}
@media (max-width: 759px) {
  .home__steps__stats {
    padding-top: 10.7rem;
  }
}
.home__steps__stats > p {
  color: var(--text);
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.9rem;
  font-weight: 283;
  line-height: 149%; /* 2.831rem */
  letter-spacing: 0.418rem;
  text-transform: uppercase;
  padding-right: 12rem;
}
@media (max-width: 759px) {
  .home__steps__stats > p {
    font-size: 1.2rem;
    letter-spacing: 0.264rem;
    padding-right: 2rem;
  }
}
.home__steps__stats > div {
  display: flex;
  margin-top: 4.9rem;
  gap: 21.3rem;
}
@media (max-width: 759px) {
  .home__steps__stats > div {
    margin-top: 3.5rem;
    gap: 4rem 8rem;
    flex-wrap: wrap;
    width: 29.2rem;
    margin-left: 4rem;
  }
}

.home__steps__stat h4 {
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 493;
  line-height: 111%; /* 7.104rem */
  background: linear-gradient(180deg, #8057da 0%, #ffd8db 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 759px) {
  .home__steps__stat h4 {
    text-align: left;
    font-size: 3.4377rem;
    width: 10.6rem;
  }
}
.home__steps__stat p {
  padding-top: 0.8rem;
  color: var(--transText3);
  text-align: center;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 111%; /* 2.442rem */
}
@media (max-width: 759px) {
  .home__steps__stat p {
    font-size: 1.6rem;
    text-align: left;
  }
}

.home__outro {
  padding-top: 20.2rem;
  padding-left: 12.1rem;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}
@media (max-width: 759px) {
  .home__outro {
    padding-top: 8.24rem;
    padding-left: 2rem;
  }
}

.home__outro__intro {
  color: var(--transText3);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.1875rem;
  font-weight: 283;
  line-height: 149%; /* 1.7694rem */
  letter-spacing: 0.8313rem;
  text-transform: uppercase;
}
@media (max-width: 759px) {
  .home__outro__intro {
    font-size: 1rem;
    line-height: 149%; /* 1.49rem */
    letter-spacing: 0.64rem;
  }
}

.home__outro__head {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 4.7716rem;
  font-weight: 400;
  line-height: 120%; /* 5.7259rem */
  margin-top: 2.01rem;
  width: 69.1rem;
}
@media (max-width: 759px) {
  .home__outro__head {
    margin-bottom: 1.01rem;
    font-size: 2.4056rem;
    width: 35rem;
  }
}
.home__outro__head i {
  background: linear-gradient(266deg, #ffd7da 7.83%, #7f56d9 93.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__outro__sub {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.827rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 2.7222rem */
  letter-spacing: 0.0183rem;
  width: 69.1rem;
  margin-top: 2.01rem;
}
@media (max-width: 759px) {
  .home__outro__sub {
    margin-top: 1.01rem;
    font-size: 1.4rem;
    letter-spacing: 0.014rem;
    width: 34.637rem;
  }
}

.home__outro__aside {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.827rem;
  font-style: italic;
  font-weight: 493;
  line-height: 149%; /* 2.7222rem */
  letter-spacing: 0.0183rem;
  position: absolute;
  width: 28rem;
  right: 17.3rem;
  top: 45.8rem;
}
@media (max-width: 759px) {
  .home__outro__aside {
    margin-top: 5rem;
    position: unset;
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    width: unset;
  }
}
.dark .home__outro__aside {
  color: #ffd7da;
}

.home__outro__grid {
  display: grid;
  grid-template-columns: 47rem 44.2rem 30rem;
  grid-template-rows: 16.9rem 17.5rem;
  gap: 1.6rem 2.5rem;
  margin-top: 4.3rem;
}
@media (max-width: 759px) {
  .home__outro__grid {
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: 2.2rem;
    width: 35.2rem;
  }
}

.home__outro__element {
  border-radius: 0.8rem;
  background: #eae4ff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.2rem;
}
@media (max-width: 759px) {
  .home__outro__element {
    grid-area: unset !important;
    padding: 1.8rem;
  }
}
.dark .home__outro__element {
  background: #2d1b58;
}
.home__outro__element:nth-of-type(1) {
  grid-area: 1/1/3/2;
}
.home__outro__element:nth-of-type(4) {
  grid-area: 1/3/3/3;
}
.home__outro__element h3 {
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.4rem;
  line-height: 160%; /* 3.84rem */
  letter-spacing: 0.024rem;
  background: linear-gradient(180deg, #ffd7da 0%, #7f56d9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 759px) {
  .home__outro__element h3 {
    font-size: 2rem;
    letter-spacing: 0.02rem;
  }
}
.home__outro__element p {
  margin-top: 0.8rem;
  color: var(--text);
  font-family: "TT Hoves Pro Trial", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; /* 2.56rem */
  letter-spacing: 0.016rem;
}
@media (max-width: 759px) {
  .home__outro__element p {
    font-size: 1.4rem;
    letter-spacing: 0.014rem;
  }
}

.home__outro__cta {
  color: #fff;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem; /* 142.857% */
  width: 23.6rem;
  height: 5.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  display: grid;
  place-content: center;
  margin-top: 6.1rem;
  margin-left: 50.8rem;
}
@media (max-width: 759px) {
  .home__outro__cta {
    width: 35.3rem;
    margin-top: 3.1rem;
    margin-left: unset;
  }
}

.home__outro__article {
  width: 151.2rem;
  height: 111.7rem;
  background: #fff6f6;
  margin-top: 10.5rem;
  margin-left: -12.1rem;
  padding-left: 17.6rem;
  position: relative;
}
@media (max-width: 759px) {
  .home__outro__article {
    width: 39.2rem;
    height: 99.5rem;
    margin-top: 12.8rem;
    margin-left: -2rem;
    padding-left: 1.8rem;
  }
}
.dark .home__outro__article {
  background: #2d1b58;
}

.home__outro__heading {
  padding-top: 17rem;
  display: flex;
  gap: 1.3rem;
}
@media (max-width: 759px) {
  .home__outro__heading {
    gap: 0.9rem;
    padding-top: 4.6rem;
  }
}
.home__outro__heading img {
  width: 6.6333rem;
  height: 6.7775rem;
}
@media (max-width: 759px) {
  .home__outro__heading img {
    width: 4.6333rem;
    height: 4.7341rem;
  }
}
.home__outro__heading svg:first-of-type {
  width: 11.4495rem;
  height: 3.2105rem;
  margin-top: 0.58rem;
}
@media (max-width: 759px) {
  .home__outro__heading svg:first-of-type {
    width: 7.9974rem;
    height: 2.2425rem;
    margin-top: 0.4rem;
  }
}
.dark .home__outro__heading svg:first-of-type path {
  fill: #fff;
}
.home__outro__heading svg:last-of-type {
  width: 7.6rem;
  height: 2.6rem;
  margin-top: 0.25rem;
}
@media (max-width: 759px) {
  .home__outro__heading svg:last-of-type {
    width: 5.3rem;
    height: auto;
    margin-top: 0.6rem;
  }
}

.home__outro__title {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 5.72rem */
  margin-top: 2.4rem;
  position: relative;
}
@media (max-width: 759px) {
  .home__outro__title {
    font-size: 2.4rem;
    margin-top: 2.47rem;
  }
}
.home__outro__title svg {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: -0.43rem;
  left: 3.9rem;
}

.home__outro__details {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.02rem;
  margin-top: 4.67rem;
  width: 70.3rem;
}
@media (max-width: 759px) {
  .home__outro__details {
    font-size: 1.6rem;
    letter-spacing: 0.016rem;
    width: 35.7rem;
    margin-top: 1.6rem;
    height: 36.4rem;
    overflow: hidden;
  }
}

.home__outro__shadow {
  background: linear-gradient(180deg, rgba(255, 246, 246, 0) 0%, #fff6f6 52%);
  width: 43rem;
  height: 17.7rem;
  position: absolute;
  z-index: 2;
  left: -1.85rem;
  top: 40.7rem;
  pointer-events: none;
}
.dark .home__outro__shadow {
  background: linear-gradient(180deg, rgba(45, 27, 88, 0) 0%, #2d1b58 52%);
}

.home__outro__more {
  color: #fff;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem; /* 142.857% */
  width: 22.5rem;
  height: 4rem;
  left: 8.35rem;
  display: grid;
  place-content: center;
  position: absolute;
  top: 51.5rem;
  z-index: 3;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(180deg, rgba(81, 44, 161, 0.2) 0%, rgba(0, 0, 0, 0) 25%), #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
}

.home__outro__figure {
  width: 51.1275rem;
  height: 123rem;
  position: absolute;
  top: 17.6rem;
  right: 4.47rem;
}
@media (max-width: 759px) {
  .home__outro__figure {
    width: 34.5rem;
    height: 83rem;
    top: 58rem;
    left: 2.35rem;
  }
}

.home__outro__bg {
  width: 151.5rem;
  height: 92.7rem;
  margin-left: -12.1rem;
  position: relative;
  padding-top: 52.7rem;
  padding-left: 12.4rem;
}
@media (max-width: 759px) {
  .home__outro__bg {
    width: 39.3rem;
    height: 47.2rem;
    margin-left: -2rem;
    padding-top: 28.2rem;
    padding-left: 2rem;
  }
}
.home__outro__bg img {
  position: absolute;
  top: 0;
  left: 0;
}
.home__outro__bg h5 {
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2rem;
  font-weight: 400;
  line-height: 120%; /* 6.24rem */
  width: 83.5rem;
  margin-top: 2.2rem;
  position: relative;
  z-index: 1;
}
@media (max-width: 759px) {
  .home__outro__bg h5 {
    font-size: 2.1039rem;
    margin-top: 0.89rem;
    width: 34rem;
  }
}
.home__outro__bg i {
  background: linear-gradient(260deg, #ffd7da 10.54%, #7f56d9 57.43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__outro__outro {
  color: #d0d0d5;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 1.937rem */
  letter-spacing: 0.91rem;
  position: relative;
  z-index: 1;
}
@media (max-width: 759px) {
  .home__outro__outro {
    font-size: 1rem;
    letter-spacing: 0.7rem;
  }
}

.home__outro__end {
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.6rem;
  font-weight: 283;
  line-height: 149%; /* 3.874rem */
  letter-spacing: 0.026rem;
  margin-top: 2.2rem;
  width: 87rem;
  position: relative;
  z-index: 1;
}
@media (max-width: 759px) {
  .home__outro__end {
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    width: 35.2rem;
    margin-top: 0.89rem;
  }
}

.preloading {
  max-height: 100dvh;
  opacity: 0;
  overflow: hidden;
}

/*# sourceMappingURL=/index.css.map */