.home__outro {
  padding-top: 20.2rem;
  padding-left: 12.1rem;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  pointer-events: none;
  @include media("<phone") {
    padding-top: 8.24rem;
    padding-left: 2rem;
  }
}

.home__outro__intro {
  color: var(--transText3);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.1875rem;
  font-weight: 283;
  line-height: 149%; /* 1.7694rem */
  letter-spacing: 0.8313rem;
  text-transform: uppercase;
  @include media("<phone") {
    font-size: 1rem;
    line-height: 149%; /* 1.49rem */
    letter-spacing: 0.64rem;
  }
}

.home__outro__head {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 4.7716rem;
  font-weight: 400;
  line-height: 120%; /* 5.7259rem */
  margin-top: 2.01rem;
  width: 69.1rem;
  @include media("<phone") {
    margin-bottom: 1.01rem;
    font-size: 2.4056rem;
    width: 35rem;
  }

  i {
    background: linear-gradient(266deg, #ffd7da 7.83%, #7f56d9 93.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.home__outro__sub {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.827rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 2.7222rem */
  letter-spacing: 0.0183rem;
  width: 69.1rem;
  margin-top: 2.01rem;
  @include media("<phone") {
    margin-top: 1.01rem;
    font-size: 1.4rem;
    letter-spacing: 0.014rem;
    width: 34.637rem;
  }
}

.home__outro__aside {
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.827rem;
  font-weight: 493;
  line-height: 149%; /* 2.7222rem */
  letter-spacing: 0.0183rem;
  margin-top: 10.08rem;
  width: 94.9rem;
  border-radius: 0.8rem;
  background: #8057da;
  padding: 2.25rem 2.1rem;
  position: relative;
  z-index: 1;
  @include media("<phone") {
    margin-top: 5.5rem;
    position: unset;
    font-size: 1.375rem;
    letter-spacing: 0.014rem;
    width: unset;
    margin-right: 2rem;
    padding: 1.6rem 2rem;
  }
}

.home__outro__grid {
  display: grid;
  grid-template-columns: 30.3rem 30.3rem 30.3rem 30.4rem;
  grid-template-rows: 7.2rem 19.6rem;
  gap: 2.1rem 2rem;
  margin-top: -7.3rem;
  @include media("<phone") {
    grid-template-columns: unset;
    grid-template-rows: unset;
    gap: 1.1rem;
    width: 35.2rem;
    margin-top: 1.1rem;
  }
}

.home__outro__element {
  border-radius: 0.8rem;
  background: #1d123f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.85rem;
  @include media("<phone") {
    grid-area: unset !important;
    padding: 2rem;
    padding-top: 6.8rem;
    padding-bottom: 2.9rem;
  }

  .dark & {
    background: #2d1b58;
  }

  &:nth-of-type(1) {
    grid-area: 1/4/3/5;
    @include media("<phone") {
      order: 4;
    }
  }

  &:nth-of-type(2) {
    grid-area: 2/2/3/3;
  }

  &:nth-of-type(3) {
    grid-area: 2/3/3/4;
  }

  &:nth-of-type(4) {
    grid-area: 2/1/3/2;
    @include media("<phone") {
      order: -1;
    }
  }

  h3 {
    font-family: "TT Hoves Pro Trial Variable", sans-serif;
    font-size: 2.4rem;
    line-height: 160%; /* 3.84rem */
    letter-spacing: 0.024rem;
    background: linear-gradient(180deg, #ffd7da 0%, #7f56d9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media("<phone") {
      font-size: 2rem;
      letter-spacing: 0.02rem;
    }
  }

  p {
    margin-top: 0.8rem;
    color: #d4d2e8;
    font-family: "TT Hoves Pro Trial", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 160%; /* 2.56rem */
    letter-spacing: 0.016rem;
    @include media("<phone") {
      font-size: 1.4rem;
      letter-spacing: 0.014rem;
    }
  }
}

.home__outro__cta {
  color: #7f56d9;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem; /* 142.857% */
  width: 21.4rem;
  height: 4rem;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: #f1eaff;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  display: grid;
  place-content: center;
  margin-top: 6.1rem;
  margin-left: 50.8rem;
  pointer-events: all;
  margin-top: -3.3rem;
  position: relative;
  top: -24rem;
  left: 20.6rem;
  z-index: 2;
  @include media("<phone") {
    width: 35.3rem;
    margin-top: 1.1rem;
    margin-left: unset;
    position: unset;
  }
}

.home__outro__article {
  width: 151.2rem;
  height: 111.7rem;
  background: #fff6f6;
  margin-top: 10.5rem;
  margin-left: -12.1rem;
  padding-left: 17.6rem;
  position: relative;
  @include media("<phone") {
    width: 39.2rem;
    height: 131.7rem;
    margin-top: 7.1rem;
    margin-left: -2rem;
    padding-left: 1.8rem;
  }

  .dark & {
    background: #2d1b58;
  }
}

.home__outro__heading {
  padding-top: 17rem;
  display: flex;
  gap: 1.3rem;
  @include media("<phone") {
    gap: 0.9rem;
    padding-top: 4.6rem;
  }

  img {
    width: 6.6333rem;
    height: 6.7775rem;
    @include media("<phone") {
      width: 4.6333rem;
      height: 4.7341rem;
    }
  }

  svg:first-of-type {
    width: 11.4495rem;
    height: 3.2105rem;
    margin-top: 0.58rem;
    @include media("<phone") {
      width: 7.9974rem;
      height: 2.2425rem;
      margin-top: 0.4rem;
    }

    .dark & path {
      fill: #fff;
    }
  }

  svg:last-of-type {
    width: 7.6rem;
    height: 2.6rem;
    margin-top: 0.25rem;
    @include media("<phone") {
      width: 5.3rem;
      height: auto;
      margin-top: 0.6rem;
    }
  }
}

.home__outro__title {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 5.72rem */
  margin-top: 2.4rem;
  position: relative;
  @include media("<phone") {
    font-size: 2.4rem;
    margin-top: 2.47rem;
  }

  svg {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -0.43rem;
    left: 3.9rem;
  }
}

.home__outro__details {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 160%; /* 3.2rem */
  letter-spacing: 0.02rem;
  margin-top: 4.67rem;
  width: 70.3rem;
  pointer-events: none;
  @include media("<phone") {
    font-size: 1.6rem;
    letter-spacing: 0.016rem;
    width: 35.7rem;
    margin-top: 1.6rem;
    height: 36.4rem;
    overflow: hidden;
  }
}

.home__outro__shadow {
  background: linear-gradient(180deg, rgba(255, 246, 246, 0) 0%, #fff6f6 52%);
  width: 43rem;
  height: 17.7rem;
  position: absolute;
  z-index: 2;
  left: -1.85rem;
  top: 40.7rem;
  pointer-events: none;

  .dark & {
    background: linear-gradient(180deg, rgba(45, 27, 88, 0) 0%, #2d1b58 52%);
  }
}

.home__outro__more {
  color: #fff;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem; /* 142.857% */
  width: 22.5rem;
  height: 4rem;
  left: 8.35rem;
  display: grid;
  place-content: center;
  position: absolute;
  top: 51.5rem;
  z-index: 3;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(
      180deg,
      rgba(81, 44, 161, 0.2) 0%,
      rgba(0, 0, 0, 0) 25%
    ),
    #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  pointer-events: all;
}

.home__outro__figure {
  width: 51.1275rem;
  height: 123rem;
  position: absolute;
  top: 17.6rem;
  right: 4.47rem;
  @include media("<phone") {
    width: 34.5rem;
    height: 83rem;
    top: 58rem;
    left: 2.35rem;
  }
}

.home__outro__bg {
  width: 151.5rem;
  height: 92.7rem;
  margin-left: -12.1rem;
  position: relative;
  padding-top: 52.7rem;
  padding-left: 12.4rem;
  @include media("<phone") {
    width: 39.3rem;
    height: 47.2rem;
    margin-left: -2rem;
    padding-top: 28.2rem;
    padding-left: 2rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }

  h5 {
    color: #fff;
    font-family: "TT Hoves Pro Trial Variable", sans-serif;
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 120%; /* 6.24rem */
    width: 83.5rem;
    margin-top: 2.2rem;
    position: relative;
    z-index: 1;
    @include media("<phone") {
      font-size: 2.1039rem;
      margin-top: 0.89rem;
      width: 34rem;
    }
  }

  i {
    background: linear-gradient(260deg, #ffd7da 10.54%, #7f56d9 57.43%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.home__outro__outro {
  color: #d0d0d5;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 1.937rem */
  letter-spacing: 0.91rem;
  position: relative;
  z-index: 1;
  @include media("<phone") {
    font-size: 1rem;
    letter-spacing: 0.7rem;
  }
}

.home__outro__end {
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.6rem;
  font-weight: 283;
  line-height: 149%; /* 3.874rem */
  letter-spacing: 0.026rem;
  margin-top: 2.2rem;
  width: 87rem;
  position: relative;
  z-index: 1;
  @include media("<phone") {
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    width: 35.2rem;
    margin-top: 0.89rem;
  }
}
