.home__steps {
  padding-top: 10.9rem;
  padding-left: 12rem;
  width: 100vw;
  overflow-x: hidden;
  @include media("<phone") {
    padding-top: 2.8rem;
    padding-left: 2rem;
  }
}

.home__steps__list {
  display: grid;
  padding-left: 5.35rem;
  padding-right: 17.35rem;
  gap: 16.55rem;
  @include media("<phone") {
    padding: unset;
    gap: 10.5rem;
  }
}

.home__step {
  display: flex;
  gap: 12.55rem;
  @include media("<phone") {
    flex-direction: column !important;
    gap: 0rem;
  }

  &[negate] {
    flex-direction: row-reverse;
  }

  & > div {
    position: relative;
  }
}

.home__step__media {
  width: 51.8rem;
  height: auto;
  border-radius: 1.3rem;
  overflow: hidden;
  @include media("<phone") {
    width: 35.3rem;
  }
}

.home__step__bg {
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 19.0927rem;
  line-height: 120%; /* 22.9112rem */
  background: var(--background);
  --background: radial-gradient(
    65.33% 66.28% at 38.57% 34.72%,
    #bfbfbf 0%,
    rgba(241, 241, 241, 0.22) 77.69%,
    rgba(163, 163, 163, 0) 99.96%
  );
  &[x2] {
    --background: radial-gradient(
      60.81% 143.69% at 100% 28.38%,
      #bfbfbf 11.35%,
      rgba(241, 241, 241, 0.22) 77.69%,
      rgba(163, 163, 163, 0.33) 99.96%
    );
  }
  &[x3] {
    --background: radial-gradient(
      64.53% 126.21% at -6.12% 25.11%,
      #bfbfbf 11.35%,
      rgba(241, 241, 241, 0.22) 77.69%,
      rgba(163, 163, 163, 0.33) 99.96%
    );
  }
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  left: -1.3rem;
  z-index: -1;

  @include media("<phone") {
    font-size: 15.0014rem;
    left: -0.4rem;
  }
  .dark & {
    opacity: 0.5;
  }
}

.home__step__head {
  color: var(--text);
  font-family: "TT Hoves Pro Trial Variable";
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 493;
  line-height: 124%; /* 3.472rem */
  padding-top: 9.4rem;
  width: 51.8rem;
  @include media("<phone") {
    font-size: 2rem;
    width: 37rem;
    padding-top: 6.92rem;
  }
}

.home__step__body {
  margin-top: 3.6rem;
  color: var(--transText4);
  font-family: "TT Hoves Pro Trial Variable";
  font-size: 2rem;
  line-height: 130%; /* 2.6rem */
  letter-spacing: 0.02rem;
  padding-left: 3rem;
  list-style: disc;
  width: 51.85rem;
  @include media("<phone") {
    margin-top: 1.46rem;
    font-size: 1.457rem;
    letter-spacing: 0.0146rem;
    width: 36.7rem;
    padding-left: 2.3rem;
  }
}

.home__step__cta {
  color: #fff;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 100%;
  width: 18.8rem;
  height: 4rem;
  display: grid;
  place-content: center;
  border-radius: 0.8rem;
  border: 0.1rem solid #9771ea;
  background: linear-gradient(
      180deg,
      rgba(81, 44, 161, 0.2) 0%,
      rgba(0, 0, 0, 0) 25%
    ),
    #7f56d9;
  box-shadow: 0rem 0.1rem 0.15rem 0rem #cebcf7;
  margin-top: 2rem;
  @include media("<phone") {
    width: 35.3rem;
    height: 4.4rem;
    margin-top: 2.91rem;
    border-radius: 0.5457rem;
    border: 0.0682rem solid #9771ea;
    background: linear-gradient(
        180deg,
        rgba(81, 44, 161, 0.2) 0%,
        rgba(0, 0, 0, 0) 25%
      ),
      #7f56d9;
    box-shadow: 0rem 0.0682rem 0.1023rem 0rem #cebcf7;
  }
}

.home__steps__ad {
  margin-left: 0.4rem;
  margin-top: 18.7rem;
  width: 126.4rem;
  height: 76.3rem;
  border-radius: 2.4rem;
  background: #000;
  overflow: hidden;
  position: relative;
  padding-left: 10.8rem;
  @include media("<phone") {
    margin-left: -0.5rem;
    margin-top: 7.71rem;
    width: 35.4rem;
    height: 66.1rem;
    padding-left: 2.5rem;
  }

  img {
    position: absolute;
    width: 107.9955rem;
    height: 110.4rem;
    top: 23rem;
    left: 64.7rem;
    mix-blend-mode: screen;
    @include media("<phone") {
      width: 37.2rem;
      height: 38rem;
      top: 49.9rem;
      left: 6.9rem;
    }
  }

  & > div {
    position: relative;
    z-index: 1;
  }
}

.home__steps__intro {
  color: var(--Neutral-Neutral-500, #d0d0d5);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 1.937rem */
  letter-spacing: 0.91rem;
  margin-top: 7.6rem;
  @include media("<phone") {
    font-size: 1.2rem;
    letter-spacing: 0.84rem;
    margin-top: 3.2rem;
  }
}

.home__steps__head {
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 6.24rem */
  width: 74.3rem;
  margin-top: 2.2rem;
  @include media("<phone") {
    font-size: 2.8rem;
    width: 31.8rem;
    margin-top: 0.92rem;
  }

  i {
    background: linear-gradient(268deg, #ffd7da 8.52%, #7f56d9 80.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.home__steps__text {
  width: 70rem;
  color: rgba(255, 255, 255, 0.6);
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 3.278rem */
  letter-spacing: 0.022rem;
  margin-top: 2.2rem;
  @include media("<phone") {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    width: 31.8rem;
    margin-top: 0.92rem;
  }
}

.home__steps__sub {
  width: 75.8rem;
  color: #fff;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%; /* 2.831rem */
  letter-spacing: 0.019rem;
  margin-top: 10.9rem;
  @include media("<phone") {
    width: 29.1rem;
    font-size: 1.2rem;
    letter-spacing: 0.012rem;
    margin-top: 5.15rem;
  }
}

.home__steps__pills {
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem 3.8rem;
  width: 116rem;
  margin-top: 2.5rem;
  @include media("<phone") {
    margin-top: 2rem;
    gap: 1rem;
    width: 30.7rem;
  }
}

.home__steps__pill {
  color: #a093b4;
  font-family: "TT Hoves Pro Trial Variable", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 283;
  line-height: 149%;
  letter-spacing: 0.02rem;
  background: linear-gradient(
    89deg,
    #ffd7da -8.47%,
    #7f56d9 16.87%,
    #000 74.61%
  );
  border-radius: 1.2rem;
  padding: 0.16rem;
  display: grid;
  place-content: center;
  @include media("<phone") {
    font-size: 1.4rem;
    letter-spacing: 0.014rem;
    border-radius: 0.6659rem;
    padding: 0.1rem;
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(10) {
      order: 1;
    }
  }

  p {
    background: #000;
    padding: 1.59rem 3.64rem;
    border-radius: 1.12rem;
    @include media("<phone") {
      padding: 0.94rem 2.11rem;
      border-radius: 0.6159rem;
      min-width: 12.8rem;
    }
  }
}

.home__steps__stats {
  padding-top: 13rem;
  @include media("<phone") {
    padding-top: 10.7rem;
  }

  & > p {
    color: var(--text);
    text-align: center;
    font-family: "TT Hoves Pro Trial Variable", sans-serif;
    font-size: 1.9rem;
    font-weight: 283;
    line-height: 149%; /* 2.831rem */
    letter-spacing: 0.418rem;
    text-transform: uppercase;
    padding-right: 12rem;
    @include media("<phone") {
      font-size: 1.2rem;
      letter-spacing: 0.264rem;
      padding-right: 2rem;
    }
  }

  & > div {
    display: flex;
    margin-top: 4.9rem;
    gap: 21.3rem;
    @include media("<phone") {
      margin-top: 3.5rem;
      gap: 4rem 8rem;
      flex-wrap: wrap;
      width: 29.2rem;
      margin-left: 4rem;
    }
  }
}

.home__steps__stat {
  h4 {
    text-align: center;
    font-family: "TT Hoves Pro Trial Variable", sans-serif;
    font-size: 6.4rem;
    font-style: normal;
    font-weight: 493;
    line-height: 111%; /* 7.104rem */
    background: linear-gradient(180deg, #8057da 0%, #ffd8db 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include media("<phone") {
      text-align: left;
      font-size: 3.4377rem;
      width: 10.6rem;
    }
  }

  p {
    padding-top: 0.8rem;
    color: var(--transText3);
    text-align: center;
    font-family: "TT Hoves Pro Trial Variable", sans-serif;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 111%; /* 2.442rem */
    @include media("<phone") {
      font-size: 1.6rem;
      text-align: left;
    }
  }
}
